
<h1>Edit Subject</h1>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Subject"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Label("Title", "Subject Title")
    @Html.ValidationMessage("Title", new { @class = "text-danger " })
    <br />
    @Html.Editor("Title")
    <br />
    @Html.Label("Description", "Subject Description")
    @Html.ValidationMessage("Description", new { @class = "text-danger " })
    <br />
    @Html.Editor("Description")
    <br />
    <button type="submit">Edit Subject</button>
}