

<form method="post" action="/Subject/New">
    @Html.Hidden("CategoryId", (object)ViewBag.CategoryId)
    <br />
    @Html.Hidden("DateCreated", DateTime.UtcNow)
    <br />
    @Html.Label("Title", "Titlul Subiectului")
    <br />
    @Html.ValidationMessage("Title", new { @class = "text-danger " })
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <br />
    @Html.ValidationMessage("Description", new { @class = "text-danger " })
    @Html.Label("Description", "Descrierea Subiectului")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })
    <button type="submit">Adauga un subiect nou</button>
</form>
