
<h1>@ViewBag.subject.Title</h1>
<p>@ViewBag.subject.Description</p>
<br />

@if (ViewBag.currentUserId == ViewBag.subject.UserId || ViewBag.isAdmin || ViewBag.isModerator)
{
    <a href="/Subject/Edit/@ViewBag.subject.Id">Edit Subject</a>
    <form method="post" action="/Subject/Delete/@ViewBag.subject.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Delete Subject</button>
    </form>
}

<a href="/Category/Show/@ViewBag.subject.CategoryId">Back to Subject List</a>
<br />
<a href="/Subject/New/@ViewBag.subject.CategoryId">Add new Subject</a>
<br />
<br />

@using (Html.BeginForm("Show", "Subject", FormMethod.Get))
{
    @Html.DropDownList("sort", @ViewBag.SortingMethods as List<SelectListItem>,
        "Sort Messajes", new { @class = "form-control" })

    <button class="btn btn-sm btn-success" type="submit">
        Sort
    </button>
}

@foreach (var message in ViewBag.subject.Messages)
{
    <p>@message.Content</p>
    <p> @message.User.UserName </p>

    if (ViewBag.currentUserId == message.UserId || ViewBag.isAdmin || ViewBag.isModerator)
    {
        <a href="/Message/Edit/@message.Id">Edit</a>
        <form method="post" action="/Message/Delete/@message.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit">Delete</button>
        </form>
    }
}
<br />
<br />

<form method="post" action="/Message/New">
    @Html.Hidden("SubjectId", (object)ViewBag.subject.Id)
    <br />
    @Html.Hidden("DateCreated", DateTime.UtcNow)
    <br />
    @Html.Hidden("Edited", false)
    <br />
    @Html.Label("Content", "Your Message")
    <br />
    @Html.ValidationMessage("Content", new { @class = "text-danger " })
    <br />
    @Html.TextBox("Content", null, new { @class = "form-control" })
    <br />
    <button type="submit">Add Message</button>
    <br />
</form>