
<h2 class="page-header">📦 Categorii</h2>

@{
    ViewBag.What = "Categorii";
    ViewBag.Route = "Category";
    ViewBag.Action = "Index";
}

@if (ViewBag.total != 0)
{
    @Html.Partial("_SearchSort")
}

@foreach (var category in ViewBag.Categories)
{
    <div class="panel panel-default">
        <div class="panel-heading article-heading">
            <a href="/Category/Show/@category.Id" class="article-title">@category.Name</a>
        </div>
        <div class="article-meta">
            <span class="meta">
                <i class="glyphicon glyphicon-time"></i>
                @category.DateCreated.ToString("dddd, dd MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("ro-RO"))
            </span>
        </div>

        @if (ViewBag.isAdmin)
        {
            <div class="panel-body">
                <div class="btn-group" role="group">
                    <form method="post" action="/Category/Delete/@category.Id">
                        @Html.AntiForgeryToken()
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <a style="margin-right: 10px;" class="btn btn-success" href="/Category/Edit/@category.Id"><i class="glyphicon-edit glyphicon"></i> Edit</a>
                        <button class="btn btn-danger" type="submit"><i class="glyphicon-trash glyphicon"></i> Delete</button>
                    </form>
                </div>
            </div>
        }
    </div>
}

@if (ViewBag.isAdmin)
{
    <a class="btn btn-primary btn-block" href="/Category/New"><i class="glyphicon-plus glyphicon"></i> Adauga o categorie noua</a>
}

<br />

@if (ViewBag.total != 0)
{
    <br />
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/Category/Index/?sort=@(ViewBag.sortId)&pageNumber=0&search=@(ViewBag.SearchString)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.lastPage; ++i)
                {
                    <li><a href="/Category/Index/?sort=@(ViewBag.sortId)&pageNumber=@(i)&search=@(ViewBag.SearchString)">@(i + 1)</a></li>
                }
                <li>
                    <a href="/Category/Index/?sort=@(ViewBag.sortId)&pageNumber=@(ViewBag.lastPage - 1)&search=@(ViewBag.SearchString)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}