@{
    ViewBag.Title = "Afisare categorie";
}

<h1>@ViewBag.category.Name</h1>

<br />

@foreach (var subject in ViewBag.Subjects)
{
    <h3><a href="">@subject.Title</a></h3>
    <p>@subject.Description</p>
    <form method="post" action="/Subject/Delete/@subject.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Sterge</button>
    </form>

}
<br />
<br />
<a href="/Category/AddSubject/@ViewBag.category.Id">Adauga un nou subiect</a>

<a href="/Category/Edit/@ViewBag.category.Id">Modifica categorie</a>
<form method="post" action="/Category/Delete/@ViewBag.category.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge Categoria</button>
</form>
<hr />
<a href="/Category/Index">Inapoi la lista categoriilor</a>
<br />
<a href="/Category/New">Adauga alta categorie</a>
<br />