@model OurReddit.Models.ApplicationUser
<h2 class="page-header"><i class="glyphicon glyphicon-edit"></i> Editeaza datele</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = Model.Id }, method: FormMethod.Post, htmlAttributes: new { @class = "form-group" }))
{
    @Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />

    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "" });
    <br />

    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    <br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" });
    <br />

    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    <br />

    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Numar telefon", new { @class = "" });
    <br />

    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    <br />
    if (User.IsInRole("Admin") && Model.Email != "admin@gmail.com")
    {
        <i class="glyphicon glyphicon-star"></i>
        <label>Rolul</label>
        @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" });

        <br />
    }

    <button class="btn btn-success" type="submit"><i class="glyphicon-check glyphicon"></i> Modifica datele</button>
}